* {
  padding: 0px;
  margin: 0px;
  color:black;
 
}
body {

   background-color:black;
}
h1 {
  
  text-align: center;
  position:relative;
  right:27px;
}
.container {
  height: 100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.backcolor{
  padding:20px;
  background-color:#08CB00;
  height:500px;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius:20px;
  width:350px;
  font-size:22px;

}
.amount {

  padding: 30px;
  
}
input {

  outline:none;
  border-radius: 4px;
  height:30px;
  width:300px;
  margin:-30px;
}
.select_con {
 
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100px;
  border-radius: 7px;
  border: solid grey 1px;
 
  background-color:#FEE8D9;
}
.dropdown_con {
  height: 100px;
  width: 150px;
  
  
}
.from{
  display: flex;
  justify-content: center;
  align-items: center;
}
.to{
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown{
  display:flex;

  justify-content: space-evenly;
  width:400px;
  height:80px;
}
select{
   cursor:pointer;
    border-radius:10px;
    background-color:#C1D8C3
}
.exchange{
  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
  margin:40px;
  cursor:pointer;
  
}
i{
  cursor:pointer;
}

img {
  width: 45px;
  border-radius: 18px;
}
button{
  font-size:30px;
  height:40px;
  border-radius:10px;
  border:solid grey 1px;
  background-color:#EEEEEE;
  display:flex;
  justify-content:center;
  cursor:pointer;

}
button:hover{
  box-shadow:5px 5px 9px  blue;
}
.msg{
  display :flex;
  margin:10px;
  font-weight:900;
font-size:30px;
color:#000000;
  
}
.btn{
 display:flex;
  justify-content: center;
  align-items:center;
  position:relative;
  left:45px;
}

